.container {
    display: flex;
    /* flex-direction: column; */
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.gutters  {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.guttersdiv  {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.one  {
  border-width : thick;
  border-color : red;
}

.half  {
  flex-basis: 50%;
  border-width : 0;
  border-style: solid;
  border-color : white;
  text-align: center;
}

.third  {
  flex-basis: 33.33%;
  border-width : 1;
  border-style: solid;
  border-color : white;
}

.twothirds  {
  flex-basis: 66.66%;
  border-width : 1;
  border-style: solid;
  border-color : black;
}

.sixth  {
  flex-basis: 16.66%;
  border-width : 0;
  border-style: solid;
  border-color :white;
}

.chatgifted {
  display:'flex';
  flex: 1;
  border-width:thin ;
  border-color: #fff;
  border-style: dashed;
  height: '80vh';
}

 /* ========================== Login page Style ===============================     */
    .login_form {
        padding: 35px
    }
    .login_title {
        padding-bottom : 16px;
        color: black;
        font-size : 35px;
        font-weight: bold;
    }
    .login_submit {
        padding-top: 30
    }
    .login_error  {
        text-align: center;
        color: red;
        padding-top: 50px;
        padding: 50px;
        font-size: 24px;
    }
    .login_buttonContainer {
        align-items: center;
        background-color: transparent;
        flex-direction: row;
        margin: 1px;
    }
    .login_input {
        color: black;
        flex: 1;
        font-size: 18px;
        height: 25px;
        padding: 3px;
        margin-top: 2px;
        margin-bottom: 4px;
        margin-left: 8px;
        margin-right: 16px;
        background-color: 'transparent';
        border-bottom-color: #ccc;
        border-bottom-width: 1px;
      }

/* ========================== Button Style =============================== */
    .button_container {
      align-items: center;
      align-self: stretch;
      border-radius: 10px;
      flex-direction: row;
      height: 45px;
      width: 300px;
      justify-content: center;
      margin: 0px;
      border-color: black;
      border-width: 1;
    }
    .button_login {
      background-color: #F7931E;
      
    }
    .button_signup {
      background-color: lightblue;
    }
    .button_disabled {
      background-color:  #ccc;
    }
    .button_text {
      color: black;
      margin-left: 8px;
    }

    .button_login:hover {  background-color:gray; }
    .button_signup:hover { background-color: gray; }
    